__pycache__/
.git/
.venv/
node_modules/
*.log
*.pyc
*.pyo
media/
staticfiles/
db.postgresql
.env
.idea/              
.DS_Store           
.pytest_cache/      
.github/            
package-lock.json   
package.json       
tailwind.config.js  
tests/                      
mediafiles/        