{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mx-auto mt-10 p-6 bg-white shadow rounded">
  <h1 class="text-2xl font-bold mb-6">Ajouter un appartement</h1>

  <form method="post" action="{% url 'immo_app:appartement_create' %}" class="space-y-4">
    {% csrf_token %}
    <div class="space-y-2">
      {{ form|crispy }}
    </div>
    <button type="submit" class="w-full bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400">
      Ajouter
    </button>
  </form>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
