{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mx-auto mt-10 p-6 bg-white shadow rounded">
  <h2 class="text-2xl font-bold text-gray-800 mb-6">Modifier l'appartement "{{ appartement.adresse }}"</h2>
  
  <form method="post" class="space-y-4">
    {% csrf_token %}
    <div class="space-y-4">
      {{ form|crispy }}
    </div>

    <div class="flex space-x-4 mt-4">
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
        Enregistrer
      </button>
      <a href="{% url 'immo_app:appartement' %}" class="bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-300">
        Annuler
      </a>
    </div>
  </form>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
