
{% extends 'base.html' %}


{% block content %}
  <div class="container-fluid mt-5 p-5">
    <h2>Liste des appartements</h2>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Adresse</th>
            <th>Complément d'adresse</th>
            <th>Ville</th>
            <th>Code postal</th>
            <th>Locataire</th>
            <th>Loyer</th>
            <th>Charges</th>
            <th>Dépôt de garantie</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for appartement in appartements %}
            <tr>
              <td>{{ appartement.adresse }}</td>
            <td>{{ appartement.complement_adresse }}</td>
            <td>{{ appartement.ville }}</td>
            <td>{{ appartement.postal_code }}</td>
            <td>{{ appartement.locataire }}</td>
            <td>{{ appartement.montant_loyer }}</td>
            <td>{{ appartement.montant_charge }}</td>
            <td>{{ appartement.depot_garantie }}</td>
            <td>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="{% url 'immo_app:appartement_update' appartement.id %}" class="btn btn-primary">Modifier</a>
                  <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ appartement.id }}">Supprimer</a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="text-center d-flex justify-content-end align-text-top">
    <a href="{% url 'immo_app:appartement_create' %}" class="btn btn-light">
      <i class="fas fa-plus"></i> Ajouter un appartement
    </a>
  </div>
  </div>

  <!-- Modal de suppression -->

  {% for appartement in appartements %}
  <div class="modal fade" id="deleteModal{{ appartement.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Supprimer l'appartement ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          Êtes-vous sûr de vouloir supprimer l'appartement ?
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <form method="POST" action="{% url 'immo_app:appartement_delete' appartement.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Supprimer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}


{% if is_paginated %}
<nav aria-label="appartements">
  <ul class="pagination justify-content-center">
    {% if appartement.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ appartements.previous_page_number }}">&laquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&laquo;</span>
      </li>
    {% endif %}

    {% for num in appartements.paginator.page_range %}
      {% if num == appartement.number %}
        <li class="page-item active">
          <span class="page-link">{{ num }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if appartements.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ appartements.next_page_number }}">&raquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&raquo;</span>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}



{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts%}
















