


{% extends 'base.html' %}


{% block content %}
  <div class="container-fluid mt-5 p-5">
    <h2>Liste des contrats</h2>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
         <th>Agence </th>
          <th>Locataire </th>
          <th>Appartement</th>
          <th>Date_entree </th>
          <th>Date_sortie</th>
          <th>Duree_contrat</th>
              <th>Actions</th>
      </tr>
        </thead>
        <tbody>
          {% for contrat in contrat_locataire %}
        <tr>
          <td>{{ contrat.nom_agence }}</td>
          <td>{{ contrat.locataire }}</td>
          <td>{{ contrat.appartement }}</td>
          <td>{{ contrat.date_entree }}</td>
          <td>{{ contrat.date_sortie }}</td>
          <td>{{ contrat.duree_contrat }}</td>
        <td>
             <div class="d-flex justify-content-between align-items-center">
                  <a href="{% url 'immo_app:contrat_locataire_update' contrat.id %}" class="btn btn-primary">Modifier</a>
                  <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{contrat.id }}">Supprimer</a>
                </div>
        </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

   <div class="text-end">
    <a href="{% url 'immo_app:contrat_locataire_create' %}" class="btn btn-light">
      <i class="fas fa-plus"></i> Ajouter un contrat locataire
    </a>
  </div>
  </div>

  <!-- Modal de suppression -->

  {% for contrat in contrat_locataire %}
  <div class="modal fade" id="deleteModal{{ contrat.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Supprimer le contrat ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          Êtes-vous sûr de vouloir supprimer le contrat ?
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <form method="POST" action="{% url 'immo_app:contrat_locataire_delete' contrat.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Supprimer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}


  {% if is_paginated %}
  <nav aria-label="contrat_Locataire">
    <ul class="pagination justify-content-center">
      {% if contrat_locataire.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ contrat_locataire.previous_page_number }}">&laquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">&laquo;</span>
        </li>
      {% endif %}

      {% for num in contrat_locataire.paginator.page_range %}
        {% if num == contrat_locataire.number %}
          <li class="page-item active">
            <span class="page-link">{{ num }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if contrat_locataire.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ contrat_locataire.next_page_number }}">&raquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">&raquo;</span>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

{% endblock %}
