{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
  <div class="container mt-3">
    <h2>Liste des locataires</h2>

  <a href="{% url 'immo_app:create' %}" class="btn btn-light">
    <i class="fas fa-plus"></i> Ajouter un locataire
</a>


    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Téléphone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for locataire in locataires %}
          <tr>
            <td>{{ locataire.nom }}</td>
            <td>{{ locataire.prenom }}</td>
            <td>{{ locataire.email }}</td>
            <td>{{ locataire.telephone }}</td>
            <td>

              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal{{ locataire.id}}">

                <i class="fas fa-trash"></i> Supprimer

              </button>
              <a href="{% url 'immo_app:create' %}" class="btn btn-primary btn-sm">
                <i class="fas fa-plus"></i> Ajouter
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  <!-- Modal de suppression -->

  {% for locataire in locataires %}
  <div class="modal fade" id="deleteModal{{ locataire.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Supprimer le locataire "{{ locataire.nom }} {{ locataire.prenom }}" ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          Êtes-vous sûr de vouloir supprimer le locataire "{{ locataire.nom }} {{ locataire.prenom }}" ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              <form method="POST" action="{% url 'immo_app:delete' locataire.slug %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Supprimer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}






<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts%}
