<!-- base.html -->

<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- ... (votre code actuel) ... -->
    {% block stylesheets %}
    {% endblock stylesheets %}
</head>

<body>
    <div class="wrapper">
        {% include 'includes/sidebar.html' %}
        <div class="main-panel">
            {% include 'includes/navigation.html' %}
            <div class="content">
                {% block content %}{% endblock content %}
            </div>
        </div>
        {% include 'includes/footer.html' %}
    </div>

    <!-- Image Principale -->
    <img src="{% static 'images/main_image.jpg' %}" alt="Image Principale" class="main-image">

    <!-- Specific Page JS goes HERE -->
    {% block javascripts %}
    {% load static %}
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock javascripts %}
</body>

</html>
